/* GENERALE */

img {
  height: 70%;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: black;
}

* {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.container {
  max-width: 1080px;
  margin: 0 auto;

  /* flexbox */
  display: flex;

  /* debug */
  /* background-color: red; */
}

header .container {
  max-width: 1080px;
  height: 3.2rem;
  margin: 0 auto;

  /* flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* debug */
  /* background-color: red; */
}

.navbar-links {
  display: flex;
  font-size: 0.5rem;
}

.navbar-links li {
  padding: 1.3rem 0.5rem 1.3rem 0.5rem;
}

/* hover */

.navbar-links li a:hover {
  border-bottom: 0.2rem solid #0476f2;
  padding-bottom: 1.1rem;
  color: #0476f2;
}

/* ********** MAIN ****************** */

main .content {
  height: 7rem;
  background-color: black;

  /* flex */
  /* display: flex;
  align-items: center; */
}

main .content .container {
  height: 100%;
  align-items: center;
}

main h2 {
  color: white;
  margin: 0;
}

.options {
  height: 8rem;
  background-color: #0476f2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-options {
  max-width: 1080px;
  display: flex;
  align-items: center;

  gap: 5rem;
}

.options-button {
  display: flex;
  align-items: center;
}

.options-button img {
  height: 3rem;
  padding-right: 0.5rem;
}

.options h4 {
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
}
